{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Exam{% endblock %}
{% block content %}
<div class="exam-container">
    <h1 class="exam-title">سوالات آزمون</h1>

    <form method="post" class="exam-form">
        {% csrf_token %}
        {% for key, value in questions_data.items %}
            <div class="question-box">
                <h3 class="question-text">{{ value.question_text }}</h3>
                <h4 class="subquestion-text">سوال {{ value.question_number }}: {{ value.subquestion_text }}</h4>

                <div class="answers-list">
                    {% for answer in value.answers %}
                        <label class="answer-label">
                            <input type="radio" name="question_{{ forloop.parentloop.counter }}" value="{{ answer.text }}" class="answer-radio">
                            <span class="answer-text">{{ answer.text }}</span>
                        </label><br>
                    {% endfor %}
                </div>
            </div>
            <hr class="question-divider">
        {% endfor %}

        <button type="submit" class="submit-button">ارسال پاسخ</button>
    </form>
</div>
{% endblock %}