{% extends 'parent/base.html' %}
{% load teacher_tags %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <a href="{% url 'schoolview:edit_profile' %}">
            {% if student.student.profile %}
                <img src="{{ student.student.profile.url }}" alt="photo" class="rounded-image">
            {% endif %}
            <h1>Hello {{ user.username }}</h1>
        </a>
    </div>

    <div class="leitner-section">
    {% if leitner_question %}
        {% if leitner.datel != current_date or leitner.last_step != 1 %}
                <div class="exam-section">
                    <a href="{% url 'schoolview:leitner' %}" class="leitner-button">Do Leitner</a>
                </div>
        {% else %}
            <p class="leitner-message">You did your Leitner for today!</p>
        {% endif %}
    {% else %}
        <p class="leitner-message">you have not added any question in leitner questions</p>
    {% endif %}
    </div>

    <div class="exam-section">
        <a href="{% url 'schoolview:exam' %}" class="exam-button">exam</a>
        <a href="{% url 'schoolview:questions' user.id %}" class="exam-button">وضعیت من در سوال ها</a>
        <a href="{% url 'schoolview:student_leitner_questions' student.id %}" class="exam-button">سوالات لایتنر</a>

    </div>

    <h3>تمرین های روز</h3>
    <table>
        <thead>
            <tr>
                <th>تاریخ</th>
                <th>زمان کل</th>
                <th>زمان سپری شده</th>
            </tr>
        </thead>
        <tbody>
            {% for worksheet in worksheets %}
                <tr>
                    <td>{{ worksheet.date }}</td>
                    <td>{{ worksheet.total_time }}</td>
                    <td> {{ worksheet.time_spent }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="logout-section">
        <a href="{% url 'schoolview:logout' %}" class="logout-button">Logout</a>
    </div>
</div>
{% endblock %}