{% extends 'parent/base.html' %}
{% load static %}
{% block title %}worksheet{% endblock %}
{% block content %}

    <h3>پاسخ های درست </h3>
    {% for key, value in correct_answered.items %}
        {{ key }} : {{ value }}
        <br>
        {% empty %}
        <h6>به هیچکدام از سوال ها پاسخ صحیح نداده اید</h6>
    {% endfor %}


    <h3>پاسخ های غلط</h3>
    {% for key, value in wrong_answered.items %}

        <div>{{ key }} : {{ value }}</div>
        <br>
        {% empty %}
        <h6>به هیچکدام از سوال ها پاسخ غلط نداده اید</h6>

    {% endfor %}

    {{ all_time }}

{% endblock %}