{% extends 'parent/base.html' %}
{% load static %}
{% block title %}worksheet{% endblock %}
{% block content %}

    <h3>پاسخ های درست </h3>
    {% for key, value in correct_answered.items %}

        <div style="color: green;">{{ key }} : {{ value }}</div>

        
        <br>
        {% empty %}
        <h6>به هیچکدام از سوال ها پاسخ صحیح نداده اید</h6>
    {% endfor %}


    <h3>پاسخ های غلط</h3>
    {% for key, value in wrong_answered.items %}

        <div style="color: red;">{{ key }} : {{ value }}</div>
        <br>
        {% empty %}
        <h6>به هیچکدام از سوال ها پاسخ غلط نداده اید</h6>

    {% endfor %}

    <div>
        <div> زمان امتحان:{{ exam_data.total_time }}ثانیه</div>
        <div>تعداد سوالات درست: {{ correct_answered_count }}</div>
        <div>تعداد سوالات غلط: {{ wrong_answered_count }}</div>
        <div>درصد این ازمون: %{{ darsad }}</div>
    </div>  
    
    <form action="{% url 'schoolview:save_worksheet' %}" method="post">
        {% csrf_token %}
        <button type="submit">ذخیره کارنامه</button>
    </form>


{% endblock %}