<header class="site-header">
 <div class="header-container">
        <div class="logo">
            <a href="/">Moalemyar</a> <!-- لینک به صفحه اصلی -->
        </div>
        <nav class="user-menu">
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <a  class="profile-link username">{{ request.user.username }}</a>
                    <div class="dropdown-content">
                        {% if user.is_student %}
                        	<a href="{% url 'schoolview:student_profile' user.id %}"> پروفایل دانش اموز</a>
                        {% elif user.is_question_designer %}
                           <a href="{% url 'schoolview:designer_profile' user.id %}"> پروفایل طراح سوال</a>

                        {% endif %}

                        <a href="{% url 'schoolview:logout' %}">خروج</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'schoolview:login' %}" class="login-link">Login</a>
            {% endif %}
        </nav>
    </div>
</header>