{% extends 'parent/base.html' %}
{% load static %}
{% block title %}login{% endblock %}

{% block content %}
    <div class="login-container">
        <h1 class="login-title">ورود</h1>
        <p class="login-info">اطلاعات خود را وارد کنید</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit", value="ورود">
        </form>
        <a href="{% url 'schoolview:register' %}" class="register-link">ثبت‌نام</a>
    </div>
{% endblock %}