{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="login-title">فرم زیر را پر کنید</h1>
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="login-submit" value="ورود">
    </form>

    <!-- Display Form Errors -->
    {% if form.errors %}
        <div class="form-errors">
            <p>لطفا خطای زیر را اصلاح کنید:</p>
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if form.non_field_errors %}
        <div class="form-errors">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}